
.information_now{
  border-style: solid;
  border-color: #d9e4dd;
  padding:40px;

  margin:30px;
}

.ranking{
  border-style: solid;
  border-radius:10;


  border-color:#d9e4dd;
  padding:40px;

  margin:30px;

}
